header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.header {
  display: flex
}

.logo {
  display: inline-flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 2px;
  margin-right: 10px;
  margin-left: 20px;

}

.mytimes {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: baseline;
  margin-top: 10px;
}

.navigation {
  position: relative;
  left: 75%;
}

.navigation a {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0px 10px;
}

.content {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.image-content {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
   width: 630px;
   border: 1px solid black;
   margin: 40px 17px 0 0;

}

.column.medium {
  width: 300px;
  border: 1px solid black;
  margin: 40px 17px 0 17px;

}

.column.small {
  width: 240px;
  border: 1px solid black;
  margin: 40px 17px 0 17px;
}

.image-content {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;

}

.lead-story .image-content {
  background-image: url(../images/mainstory.png);
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.image-content {
  background-image: url(../images/fall.png);
}

.pop-culture.image-content {
  background-image: url(../images/cameraman.png);
}

.cat-ceo.image-content {
  background-image: url(../images/cat.png);
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  border: 1px solid black;
}

.story {
  border: 1px solid black;
}

.news-bites {
  border: 1px solid black;
}
